<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class ="container-fluid text-center">
    <h1>Lorem Ipsum</h1>

    <a class="h5" th:href="@{api/users/listofbooks}">Users</a>
    <br>
    <a class="h5" th:href="@{api/userReviews/listofcustomers}">Manage User Reviews</a>
    <br>
    <a class="h5" th:href="@{api/customer/listofcustomers}">Restaurants</a>
    <br>
    <a class="h5" th:href="@{/logout}">Logout</a>


</div>
</body>
</html>