<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class ="container-fluid text-center"/>

<div><h2>List of all the books</h2></div>
<a class="h4 mr-3" th:href="@{'newBook'}">Add</a>

<table class="table table-sub-heading-color">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Restaurant</th>
        <th>Review</th>
        <th>Score</th>
        <th> </th>
    </tr>

    </thead>
    <tbody>
    <th:block th:each="userReview:${userReviews}">
        <tr>
            <td>[[${userReview.id}]]</td>
            <td>[[${userReview.user.name}]]</td>
            <td>[[${userReview.restaurant}]]</td>
            <td>[[${userReview.reviewText}]]</td>
            <td>[[${userReview.score}]]</td>
            <td>
                <a class="h4 mr-3" th:href="@{'books/edit/'+${userReview.id}}">Edit</a>
                <a class="h4 mr-3" th:href="@{'books/delete/'+${userReview.id}}">Delete</a>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>
</div>

<div>
    <a class="h6 mr-3" th:href="@{'/'}">Go back to main page</a>

</div>
</div>
</body>
</html>

</title>
</head>
<body>

</body>
</html>